.swiper-button-next,
.swiper-button-prev {
  color: black;
  background-color: white;
  border-radius: 50%; /* Perfect circle */
  padding: 5px; /* Small padding */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30px; /* Specific width */
  height: 30px; /* Specific height */
  z-index: 10; /* Ensure buttons are above other elements */
  display: flex; /* Center the arrow */
  align-items: center; /* Center the arrow */
  justify-content: center; /* Center the arrow */
  font-size: 5px; /* Reduce the font size */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px; /* Decrease the font size for the arrow */
}

.swiper-button-next {
  right: 10px;
  top: 20%; /* Center vertically */
  transform: translateY(-50%);
}

.swiper-button-prev {
  left: 10px;
  top: 20%; /* Center vertically */
  transform: translateY(-50%);
}

.swiper-container {
  position: relative;
  overflow: visible; /* Ensure the container allows overflow */
}

.swiper {
  padding-bottom: 10px; /* Adjust this value to ensure space for the buttons */
}

.card-container {
  position: relative;
  padding-top: 80px; /* Ensure space at the top for the buttons */
}


/* Media queries for responsiveness */
@media screen and (max-width: 992px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 12px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 25%;
  }

  .swiper-button-next {
    right: 8px;
  }

  .swiper-button-prev {
    left: 8px;
  }

  .card-container {
    padding-top: 70px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 12px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 20%;
  }

  .swiper-button-next {
    right: 5px;
  }

  .swiper-button-prev {
    left: 5px;
  }

  .card-container {
    padding-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 12px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    top: 15%;
  }

  .swiper-button-next {
    right: 3px;
  }

  .swiper-button-prev {
    left: 3px;
  }

  .card-container {
    padding-top: 50px;
  }
}
